asgiref==3.5.2
click==8.1.3
colorama==0.4.5
Django==4.1.10
django-versatileimagefield==2.2
gunicorn==20.1.0
h11==0.13.0
libmagic==1.0
Pillow==9.3.0
psycopg2==2.9.3
pyaes==1.6.1
pyasn1==0.4.8
python-magic==0.4.27
rsa==4.9
sqlparse==0.4.4
Telethon==1.24.0
tzdata==2022.2
whitenoise==6.2.0
